services:
  backend:
    container_name: backend
    build: ./backend
    env_file:
      - ./backend/.env
    volumes:
      - ./backend:/app
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    expose:
      - 8000
    ports:
      - "8000:8000"
    depends_on:
      - db

  frontend:
    container_name: frontend
    build: ./frontend
    env_file:
      - ./frontend/.env.production
    expose:
      - 3000
    ports:
      - "3000:3000"
    depends_on:
      - backend

  db:
    container_name: db
    image: postgres:15
    env_file:
      - ./backend/.env
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    expose:
      - 5432

  nginx:
    container_name: nginx
    image: nginx:latest
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - static_volume:/app/staticfiles:ro
      - media_volume:/app/media:ro
      - ./certbot/www:/var/www/certbot
      - ./certbot/conf:/etc/letsencrypt
    depends_on:
      - backend
      - frontend
      - certbot

  certbot:
    image: certbot/certbot:latest
    container_name: certbot
    volumes:
      - ./certbot/www:/var/www/certbot
      - ./certbot/conf:/etc/letsencrypt
    entrypoint: >
      sh -c "trap exit TERM;
      while :; do
        certbot renew --webroot -w /var/www/certbot;
        sleep 12h;
      done"
  certbot-init:
    image: certbot/certbot:latest
    container_name: certbot-init
    profiles:
      - init
    volumes:
      - ./certbot/www:/var/www/certbot
      - ./certbot/conf:/etc/letsencrypt
    entrypoint: "/bin/sh -c 'certbot certonly --webroot --webroot-path=/var/www/certbot --email ton.2014.har@gmail.com --agree-tos --no-eff-email --force-renewal -d ruwadacademy.com -d www.ruwadacademy.com'"

volumes:
  postgres_data:
  static_volume :
  media_volume:
