[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-filer = "*"
django-unfold = "*"
django-import-export = "*"
django-sql-explorer = "*"
easy-thumbnails = "*"
django-simple-history = "*"

[dev-packages]

[requires]
python_version = "3.14"
