.page-wrapper {
    margin-left: calc(0px + 260px);
    transition: .2s ease-in;
    margin-right: 15px;
}

@media screen and (max-width:1279px) {
    .page-wrapper{
        margin-left: 15px;
    }
}

@media (min-width: 1024px) {
  .tables-position {
    left: unset;
    right: 100%;
  }
  html[dir="rtl"] .tables-position {
    right: unset;
    left: 100%;
  }
}
