.page-wrapper {
    margin-inline-start: calc(0px + 260px);
    transition: .2s ease-in;
    margin-inline-end: 15px;
}

@media screen and (max-width:1279px) {
    .page-wrapper{
        margin-inline-start: 15px;
    }
}

@media (min-width: 1024px) {
  .tables-position {
    inset-inline-start: unset;
    inset-inline-end: 100%;
  }
}
